.Home {
  @media (max-width: 1000px) {
      .Home {
        width: 100%;
      }
    }
    
}

.banner{
  width: 100%;
  height: 600px;
  top: 128px;
  display: flex;
  border-radius: 10px;
  @media (max-width: 1000px) {
width: 1000px;
height: 476px;
top: 128px;
            
  }
@media (max-width: 768px) {
    
width: 768px;
height: 634px;
top: 110px;
 
}
 
@media (max-width: 480px) {
width: 480px;
height: 600px;
top: 68px;
  
}
@media (max-width: 360px) {
width: 360px;
height: 600px;
top: 68px;

}
}


.bannerImg{
  height: 600px;
  top: 128px;
  background: #00000066;  
  @media (max-width:1000px) {
width: 1000px;
height: 476px;
top: 128px;

  }  
  @media ( max-width:768px) {
width: 768px;
height: 634px;
top: 110px;

  }
  @media (max-width: 480px) {
 width: 480px;
height: 600px;
top: 68px;

  }
  @media (max-width:360px) {
width: 360px;
height: 600px;
top: 68px;

    
  }
}

.bannerText{
  position: absolute;
  display: flex;
  top: 108px; /* Центрирование по вертикали */
  left: 20px; /* Центрирование по горизонтали */
  transform: translate(-0%, 60%); /* Смещение обратно на 50% ширины/высоты */
  color: white; /* Белый текст */
  font-size: 80px;
  font-weight: bold;
  gap: 40px;
  padding: 7px 10px;
  border-radius: 4px;
  height: 310px;
  width: 1360px;
  @media (max-width:1000px) {
width: 960px;
height: 296px;
top: 188px;
left: 20px;
gap: 40px;

  }
  @media (max-width: 768px) {
width: 728px;
height: 248px;
top: 170px;
left: 20px;
gap: 40px;
    
  }
  @media (max-width:480px) {
  width: 426.67px;
height: 335px;
top: 110px;
left: 30px;
gap: 24px;

    
  }
}

.buttonCheck{
  width: 218px;
  height: 58px;
  border-radius: radius small;
  padding-top: 16px;
  padding-right: 56px;
  padding-bottom: 16px;
  padding-left: 56px;
  gap: 10px;
  background: #92A134;
  transform: translate(-580%, 350% );
  left:  20px;
  top: 208px;
  color: white;
  @media (max-width:1000px) {
    width: 218px;
    height: 58px;
    gap: 10px;
    border-radius: radius small;
    padding-top: 8px;
    padding-left: 8px;
    position: 46px;
    padding-bottom: 1px;
    padding-right: 8px;
    
       
  }
  @media (max-width:480px) {
width: 180px;
height: 47px;
gap: 10px;
border-radius: radius small;
padding-top: 8px;
padding-right: 1px;
padding-bottom: 4px;
padding-left: 8px;

}

  }


.buttonCheck.text{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center; 
}

.containerCategories{
  width: 1360px;
  height: 528px;
  left: 40px;
  gap: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  @media (max-width:1000px) {
  width: 960px;
height: 420px;
  }
@media (max-width:768px) {
  width: 728px;
height: 724px;
}
  @media (max-width:480px) {
    width: 440px;
height: 711px;
top: 724px;
left: 20px;
gap: 24px;
     }
     @media (max-width:360px) {
      width: 360px;
height: 1,214px;
top: 724px;
gap: 24px;
padding-right: 20px;
padding-left: 20px;

      
     }
  }
  .category{
  font-family: "Montserrat";
  font-weight: 700px;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;
  @media (max-width:1000px) {
width: 361px;
height: 70px;
   
  }
  @media (max-width:768px) {
    width: 316px;
    height: 62px;
      }
      @media (max-width:480px) {
width: 271px;
height: 53px;
font-size: 48px;

      }
      @media (max-width:360px) {
        font-size: 20px;
        
      }
  }

  .category-header {
      display: flex;
      align-items: center;
      gap: 20px; // Расстояние между заголовком и линией
      @media (max-width:1000px) {
width: 950px;
height: 70px;
gap: 32px;

      }
      @media (max-width:768px) {
width: 728px;
height: 62px;
gap: 20px;
       
      }
      @media (max-width:480px) {
 width: 440px;
height: 53px;
gap: 16px;
       
      }
      @media (max-width:360px) {
        width: 320px;
height: 44px;
gap: 16px;


      }
    }
    
    .line-box {
      display: flex;
      align-items: center;
      flex-grow: 1; // Линия растягивается на оставшееся пространство
      @media (max-width:1000px) {
width: 567px;
height: 46px;
padding-top: 10px;

      }
      @media (max-width:768px) {
width: 392px;
height: 46px;
padding-top: 10px;

      }
      @media (max-width:480px) {
width: 153px;
height: 44px;
padding-top: 10px;

      }
    }
    
    .line {
      width: 825px; 
      height: 2px;
      background-color: rgba(221, 221, 221, 1);
      border: none;
    }
    
    .line-text {
      font-family: "Montserrat', sans-serif";
      font-weight: 500px;
      font-size: 16px;
      line-height: 126%;
      text-align: center;
      color: #8B8B8B;
      width: 142px;
      height: 36px;
      border: 1px solid #DDDDDD;
      background-color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      @media (max-width:1000px) {
        width: 142px;
height: 36px;
gap: 10px;
border-radius: radius small;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;
border-width: 1px;

      }
      @media (max-width:768px) {
 width: 316px;
height: 62px;
  
      }
      @media (max-width:480px) {
width: 129px;
height: 34px;
gap: 10px;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;
border-width: 1px;
border-radius: radius small;
font-size: 14px;      
      }
      @media (max-width:360px) {
        font-size: 10px;
        
      }
    }

    .ImgCategory{
      width: 980px;
      height: 318px;
      gap: 50px;
      display: flex;
      position: relative;
      top: -40px;
      @media (max-width:1000px) {
width: 960px;
height: 318px;
gap: 20px;

      }
      @media (max-width:768px) {
width: 728px;
height: 630px;
gap: 20px;
display: grid;
grid-template-columns: repeat(2, 1fr); /* 2 товара в ряд */
     }
     @media (max-width:480px) {
width: 440px;
height: 634px;
gap: 20px;
top: 20px;
    
     }
     @media (max-width:360px) {
      width: 320px;
height: 1,080px;
gap: 20px;
display: grid;
grid-template-columns: auto;

      
     }
  }
  .img-container{
      width: 325px;
      height: 392px;
      gap: 18px;
      
      @media (max-width:1000px) {
width: 225px;
height: 292px;
gap: 16px;
      }
      @media (max-width:768px) {
width: 354px;
height: 318px;
gap: 16px;

     }
     @media (max-width:480px) {
      width: 210px;
height: 292px;
gap: 12px;
top: 40px;
     
     }
     @media (max-width:360px) {
width: 320px;
height: 255px;
gap: 12px;

      
     }
  }
  
  .img{
      width: 316px;
      height: 350px;
      @media (max-width:1000px) {
width: 225px;
height: 292px;
border-radius: radius big;
      }
      @media (max-width:768px) {
width: 354px;
height: 250px;
      }
      @media (max-width:480px) {
width: 210px;
height: 257px;
border-radius: radius big;
           }
           @media (max-width:360px) {
width: 32px0;
height: 197px;
border-radius: radius big;
           
           }
  }      
         
.discount {
  width: 1350px;
  height: 486px;
  background: linear-gradient(to top right, rgba(135, 147, 61, 1), rgba(85, 97, 11, 1));
  margin-top: 120px;
  margin-left: 40px;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    width: 960px;
    height: 434px;
  }

  @media (max-width: 768px) {
    width: 728px;
    height: 426px;
  
  }
}

.discount-text {
  width: 1296px;
  height: 70px;
  margin-top: -20px;
  text-align: center;

  @media (max-width: 1000px) {
    width: 960px;
    height: 70px;
  }

  @media (max-width: 768px) {
    width: 400px;
    height: 106px;
    margin-right: 280px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  color: white;

  @media (max-width: 768px) {
    font-size: 56px;
    width: 700px;
    margin-top: 8px;
  
  
  }
}

.discount-content {
  width: 1296px;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  margin-right: 90px;

  @media (max-width: 1000px) {
    width: 960px;
    height: 308px;
    gap: 10px;
    padding-right: 20px;
    padding-bottom: 32px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    transform: scale(0.8);
    margin-right: 20px;
    margin-top: 30px;
  }
}

.discount-image {
  width: 600px;
  height: 360px;
  margin-top: 1px;

 
  @media (max-width: 1000px) {
    width: 500px;
    height: 308px;
  }

  @media (max-width: 768px) {
     
    
    
  }
}

.discount-form {
  margin-left: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1100px;
  margin-top: -380px;

  @media (max-width: 1000px) {
    width: 450px;
    height: 276px;
    gap: 20px;
  }
@media (max-width:768px) {
  margin-left: 590px;
  margin-top: -340px;
  
}
  }

.form {
  width: 516px;
  height: 296px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media (max-width: 768px) {
    width: 334px;
    height: 198px;
    gap: 20px;
  }
}

.input {
  height: 58px;
  width: 100%;
  padding: 15px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  background: transparent;
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

button {
  height: 58px;
  width: 100%;
  background: #fff;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: gray;
}

.sale{
width: 1360px;
height: 532px;
top: 1982px;
left: 40px;
gap: 40px;
padding: 40px;
@media (max-width:1000px) {
  width: 960px;
  height: 500px;
  top: 1638px;
  left: 20px;
  gap: 32px;
    
}
@media (max-width:768px) {
 
  width: 728px;
  height: 764px;
  gap: 20px;
  
  
}

 }
 .sale-header {
  display: flex;
  align-items: center;
  gap: 20px; // Расстояние между заголовком и линией
  @media (max-width:1000px) {
    width: 788px;
    height: 46px;
    padding-top: 10px;
    
  }
}

.line-box2 {
  display: flex;
  align-items: center;
  flex-grow: 1; // Линия растягивается на оставшееся пространство
  @media (max-width:1000px) {
    width: 788px;
border-width: 1px;

    
  }
}

.line2 {
  width: 1000px; 
  height: 3px;
  background-color: rgba(221, 221, 221, 1);
  border: none;
}

.line-text2 {
  font-family: "Montserrat', sans-serif";
  font-weight: 500px;
  font-size: 26px;
  line-height: 126%;
  text-align: center;
  color: #8B8B8B;
  width: 142px;
  height: 36px;
  border: 1px solid #DDDDDD;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  @media (max-width:1000px) {
   font-size: 16px;
    
  }
}
.Sale{
  font-family: "Montserrat";
  font-weight: 700px;
  font-size: 64px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  font-weight: bold;
  
   }

   .ImgSale {
    display: flex;
    gap: 20px; /* Расстояние между товарами */
   
@media (max-width:768px) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  width: 354px;
height: 250px;
border-bottom-width: 1px;

  
}
 @media (max-width: 480px) {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
 }
    
  }
 
 
  
 


.sale-container{
  width: 450px; /* Фиксированная ширина */
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 1px;
  position: relative;
 @media (max-width:768px) {
  width: 354px;
height: 372px;
gap: 10px;
border-width: 1px;
border-radius: radius big;

  
 }
}
.product-img {
  width: 100%; /* Картинка под размер карточки */
  height: auto;
  border-radius: 8px;}

.discount-price{
font-family: Montserrat;
font-weight: 500px;
font-size: 20px;
line-height: 130%;
letter-spacing: 0%;
text-decoration: line-through;
color: #8B8B8B;
position: relative;
top: -40px;
left:  70px;

}

.discount-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: orange;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
  text-align: center;
  z-index: 10px;
}

.price1{
 font-family: "Montserrat";
font-weight: 600px;
font-size: 40px;
line-height: 110.00000000000001%;
letter-spacing: 0%;

}
.d{
width: 68px;
height: 34px;
border-radius: radius small;
background-color:  #F26D22;
margin-left: 240px;
margin-top: -400px;
position: absolute;
z-index: 5px;


}
.prosent{
font-family: "Montserrat";
font-weight: 600px;
font-size: 20px;
line-height: 130%;
letter-spacing: 3%;
color: white;
text-align: center;
font-weight: bold;
margin-top: 5px;

}
 
 

       

      
